@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	background: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.container
{
	position: relative;
	width: 100%;
	min-height: 1000px;
	max-width: 1000px;
	background: white;
	display: grid;
	margin: 50px;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.left-side
{
	position: relative;
	background: #003147;
	padding: 40px;
}

.left-side .profil
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.left-side .profil .imgp
{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}
.left-side .profil .imgp img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.left-side .profil h2
{
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	
}

.left-side .profil h2 span
{
	font-size: 16px;
	font-weight: 300;
}
.contact
{
	padding-top: 40px;
}
.title
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.contact ul
{
	position: relative;
}
.contact ul li
{
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}
.contact ul li span.icon
{
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: #03a9f4;
}
.contact ul li span
{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}
.contact.profil li
{
	margin-bottom: 15px;
}
.contact.profil h5
{
	color: #03a9f4;
	font-weight: 500;
}
.contact.profil h4:nth-child(2)
{
	color: #fff;
	font-weight: 500;
}
.contact.profil h4
{
	color: #fff;
	font-weight: 300;
}
.contact.skills .percent
{
	position: relative;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	height: 6px;
	background: #081921;
	display: block;
	overflow: hidden;
}
.contact.skills .percent div
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #03a9f4;
}

.contact.lang li
{
	margin-bottom: 15px;
}
.contact.lang h5
{
	color: #03a9f4;
	font-weight: 500;
}
.contact.lang h4:nth-child(2)
{
	color: #fff;
	font-weight: 500;
}
.contact.lang h4
{
	color: #fff;
	font-weight: 300;
}
.right-side
{
	position: relative;
	background: #fff;
	padding: 40PX;
}
.about
{
	margin-bottom: 50px;
}
.about:last-child
{
	margin-bottom: 0;
}
.title2
{
	color: #003147;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
p
{
	color: #333;
}

.about .box
{
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}
.about .box .period
{
	min-width: 150px;
	margin-bottom: 10px;
}
.about .box .period h5
{
	text-transform: uppercase;
	color: #848c90;
	font-weight: 600;
}
.about .box .text h4
{
	text-transform: uppercase;
	color: #2a7da2;
	font-size: 16px;
}



.interest ul
{
	display: grid;
	grid-template-columns: repeat(4,1fr);
}
.interest ul li
{
	list-style: none;
	color: #333;
	font-weight: 500;
	margin: 10px 0;
}
.interest ul li .fa
{
	color: #03a9f4;
	font-size: 18px;
	width: 20px;

}


@media (max-width: 1000px)
{
	.container
	{
		margin: 10px;
	    grid-template-columns: repeat(1,1fr);
	}
	.interest ul
	{
		grid-template-columns: repeat(2,1fr);
	}
}
@media (max-width: 600px)
{
	.about .box
	{
	    flex-direction: column;
	}
	.interest ul
	{
		grid-template-columns: repeat(1,1fr);
	}
	
}